.login__form{
    width:350px;
    border:1px solid green;
    height:260px;
    margin-left:auto;
    margin-right:auto;
    margin-top:70px;
    display: block;
}

.login__header{
    height:40px;
    background-color: green;
    margin-left:-1px;
    right:0;
    color:white;
    text-align: center;
    padding-top:10px;
    font-size: 20px;
}

.login__row{
    height:50px;
    font-size: 18px;
    position: relative;
    margin-left:30px;
    margin-right:30px;
    margin-top:20px;
}

.login__input{
    position:absolute;
    right:10px;
    margin-top:3px;
    border:1px solid green;
    border-radius:5px;
    height:20px;
    width:180px;
}

.login__btn{
    position:absolute;
    right:15px;
    width:80px;
    height:25px;
    background-color: green;
    border:0;
    color:white;
    border-radius: 5px;
    cursor: pointer;
}