.logo{
    background-image: url("./images/logo.png");
}

.golden__thing{
    background-image:url('./images/card_golden_thing.png');
    width:50px;
    height:30px;
    background-size:cover;
    border-radius:5px;
    margin-top:70px;
    margin-left:30px;
  }
.hide{
    display:none;
}

.showNotificationViewer{
    height:100px;
    border:1px solid #e3e3e3;

}

.hideNotificationViewer{
    display: none;
}

.showReplenish{
    margin-left:0px;
    transition:margin-left, 0.5s ease-in-out;
}
.hideReplenish{
    margin-left:-320px;
    transition:margin-left, 0.5s ease-in-out;
}

.showTransfer{
    margin-left:0px;
    transition:margin-left, 0.5s ease-in-out;
}
.hideTransfer{
    margin-left:-320px;
    transition:margin-left, 0.5s ease-in-out;
}

.showConfirm{
    margin-left:0px;
    transition:margin-left, 0.5s ease-in-out;
}

.hideConfirm{
    margin-left:-320px;
    transition:margin-left, 0.5s ease-in-out;
}

.showOpenNewAccountForm{
    margin-top:10px;
    height:fit-content;
    transition:height, 0.5s ease-in-out;
}

.hideOpenNewAccountForm{
    height:0;
    margin-top:-180px;
    transition:height, 0.5s ease-in-out;
}
